.modal {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  background: rgb(179, 239, 156);
  background: linear-gradient(
    145deg,
    rgba(179, 239, 156, 1) 0%,
    rgba(63, 182, 181, 1) 100%
  );
  border-radius: 4px;
  padding: 32px 16px;
  opacity: 0;
  min-width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  animation: modalAppear 0.3s ease-in-out forwards;
}

.content {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1;
  justify-content: flex-end;
  padding-bottom: 2.5rem;
  align-items: flex-end;
  font-weight: 400;
  letter-spacing: 0.45px;
}

@keyframes modalAppear {
  0% {
    opacity: 0;
    transform: translate(-50%, 0%);
  }

  75% {
    opacity: 0.75;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
