html,
body {
  height: 100%;
  min-height: 100%;
  background: #f7fafc;
}

.scroll::-webkit-scrollbar {
  height: 6px;
  background: gray;
}

.scroll::-webkit-scrollbar-thumb:horizontal {
  background: #aaa;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

.mobile-size {
  height: 640px;
  width: 384px;
  overflow: auto;
}

/* PLACEHOLDER BACKGROUND */
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.linear-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f7fafc;
  background: linear-gradient(to right, #edf2f7 8%, #f7fafc 24%, #edf2f7 33%);
  background-size: 1000px 104px;
  position: relative;
  overflow: hidden;
}

/* POKEMON TYPES */
.bug {
  background: #92bc2c;
}

.dark {
  background: #595761;
}

.dragon {
  background: #0c69c8;
}

.electric {
  background: #f2d94e;
}

.fire {
  background: #fba54c;
}

.fairy {
  background: #ee90e6;
}

.fighting {
  background: #d3425f;
}

.flying {
  background: #a1bbec;
}

.ghost {
  background: #5f6dbc;
}

.grass {
  background: #5fbd58;
}

.ground {
  background: #da7c4d;
}

.ice {
  background: #75d0c1;
}

.normal {
  background: #a0a29f;
}

.poison {
  background: #b763cf;
}

.psychic {
  background: #fa8581;
}

.rock {
  background: #c9bb8a;
}

.steel {
  background: #5695a3;
}

.water {
  background: #539ddf;
}
