html,
body {
  height: 100%;
  min-height: 100%;
  background: #f7fafc;
}

.bg-pokemon {
  background: rgb(179, 239, 156);
  background: linear-gradient(
    145deg,
    rgba(179, 239, 156, 1) 0%,
    rgba(63, 182, 181, 1) 100%
  );
}

.bg-container {
  background: #f9fef8;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
}

.scroll::-webkit-scrollbar {
  height: 6px;
  background: gray;
}

.scroll::-webkit-scrollbar-thumb:horizontal {
  background: #aaa;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

.mobile-size {
  height: 640px;
  width: 384px;
  overflow: auto;
}

@media screen and (max-width: 639px) {
  .mobile-size {
    height: initial;
    width: 100%;
    overflow: auto;
  }
}

/* PLACEHOLDER BACKGROUND */
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.linear-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f7fafc;
  background: linear-gradient(to right, #e6eedf 8%, #dae2d3 24%, #e6eedf 33%);
  background-size: 1000px 104px;
  position: relative;
  overflow: hidden;
}

/* POKEMON TYPES */
.bug {
  background: #92bc2c;
}

.dark {
  background: #595761;
}

.dragon {
  background: #0c69c8;
}

.electric {
  background: #f2d94e;
}

.fire {
  background: #fba54c;
}

.fairy {
  background: #ee90e6;
}

.fighting {
  background: #d3425f;
}

.flying {
  background: #a1bbec;
}

.ghost {
  background: #5f6dbc;
}

.grass {
  background: #5fbd58;
}

.ground {
  background: #da7c4d;
}

.ice {
  background: #75d0c1;
}

.normal {
  background: #a0a29f;
}

.poison {
  background: #b763cf;
}

.psychic {
  background: #fa8581;
}

.rock {
  background: #c9bb8a;
}

.steel {
  background: #5695a3;
}

.water {
  background: #539ddf;
}

.bg-green-pokemon {
  background: #78d79d;
  opacity: 0.98;
}

.bg-green-pokemon:hover {
  background: #6fc791;
}

.bg-green-pokemon:active {
  background: #92ecb5;
}

.color-blue-pokemon {
  color: #456366;
}
.border-blue-pokemon {
  border-color: #4e7477;
}

.color-gray-pokemon {
  color: #96a4a5;
}

.color-link-pokemon {
  color: #9dadad;
}

.border-1-5 {
  border-width: 1.5px;
}

.shadow-outline-type {
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.rounded-t-pokemon {
  position: relative;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.bg-button-menu{
  background: #6fc791;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #96a4a5;
  font-size: 0.75rem;
  text-transform: uppercase;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #96a4a5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #96a4a5;
}
